header {
    display: block;
    padding-block: 3%;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: #B7D5D4;
    background-color: #373E40;
    }
  
   * {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
   }
  
   body {
    background: #EFEFEF;;
   }
  
   .wrapper {
    display: flex;
    position: relative;
   }
  
   .wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #BCF4F5;
    padding: 30px 0;
   }
  
   .solo .fa-solid {
    width: 200px;
    margin-bottom: 20px;
    font-size: 30px;
     text-align: center;
   }
  
   .wrapper .sidebar h2 {
     color: #000000;
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 30px;
   }
  
   .wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    transition: all 0.3s ease;
   }
  
   .wrapper .sidebar ul li a {
    color: #000000;
    display: block;
    transition: all 0.3s ease;
   }
  
   .wrapper .sidebar ul li a .fa-solid {
    width: 25px;
   }
  
   .wrapper .sidebar ul li:hover {
       background: #FFB7C3;
       cursor: pointer;
   }
  
   .wrapper .sidebar ul li:hover a {
     color: #272727;
   }
  
   .wrapper .sidebar .socialmedia {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
   }
  
   .wrapper .sidebar .socialmedia a {
    display: block;
    width: 40px;
    background: #BCF4F5;
    color: #000000;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   }
  
   .wrapper .mainconteudo {
    width: 100%;
    margin-left: 200px;
   }
  
   .wrapper .mainconteudo .cab {
    padding: 30px;
    background: #FFFFFF;
   }
  
   #divBusca {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    background-color:#EFEFEF;
  border: none;
  border-radius: 15px;
  width:300px;
  }
  
  #txtBusca{
  background-color:transparent;
  padding-left:10px;
  font-size:18px;
  border:none;
  border-radius:15px;
  height:30px;
  width:260px;
  }
  
  #btnBusca {
    float: right;
    width: 6%;
    margin-top: 6px;
    margin-right: 6px;
  }

  .pic {
    position: absolute;
    width: 60%;
    margin-top: 80px;
    margin-left: 80px;
  }

  .welcome {
    text-align: center;
    align-content: center;
    position: absolute;
    padding: 55px 30px 55px 30px;
  margin-top: 170px;
  margin-left: 260px;
  background: #FFFFFF;
   }
   
  .welcome h3 {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .welcome p {
    font-size: 20px;
  }

  .button-45 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    align-items: center;
    background-color: #D3FAC7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #FFB7C3;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }
  
  .button-45:active,
  .button-45:hover,
  .button-45:focus {
    outline: 0;
  }
  
  
  .button-45:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .button-45:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }
  
  .button-45:active:hover,
  .button-45:focus:hover,
  .button-45:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }

  .info {
    position: absolute;
    display: inline-block;
    margin-top: 640px;
    margin-left: 30px;
  }

  .more-pics, .more-pics-1, .more-pics-2 {
    width: 22%;
    border-radius: 50%;
    box-shadow: 15px 12px #FFFFFF;
  }

  .more-pics-1 {
    margin-right: 60px;
    margin-left: 60px;
  }
  
   .sidebar {
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    border-bottom: 1px solid #e0e4e8;
   }

   .sidebar .sidebar ul {
    position: absolute;
    margin-left: 185px;
    background: #BCF4F5;
    padding: 0;
    margin-top: -1px;
    top: 0;
    display: none;
   }

 .sidebar ul .dropdown {
    position: relative;
   }

   .apenas:hover {
    background: #BCF4F5;
   }

   .sidebar ul .dropdown:hover ul {
    display:initial
   }


   .infos {
    font-size: 28px;
    position: absolute;
    background: #FFFFFF;
    margin-top: 950px;
    padding: 20px 405px 20px 20px ;
    margin-left: 40px;
   }

   .video {
    position: absolute;
    margin-top: 960px;
    margin-left: 650px;
   }

   .footer { 
    padding-top: 30px;
    padding-bottom: 150px;
    padding-left: 350px;
    padding-right: 350px;
    position: relative;
    margin-top: 1220px;
    margin-left: 199px;
    background: #D3FAC7;
   }

   .footer h2 {
    margin-left: 80px;
   }
  
   .footer .fa-solid {
    color: #FFB7C3;
    margin-top: 20px;
    font-size: 30px;
   }
  
   .mail, .phone {
    position: absolute;
    text-align: center;
    padding: 20px;
    color: #444
  }
  
  .loc {
    position: absolute;
    text-align: center;
    padding: 20px;
    color: #444
  }
  
  .loc p, .mail p, .phone p {
      font-size: 1rem;
      font-weight: 300
  }
  
    .loc i, .mail i, .phone i {
      font-size: 1.7rem;
      margin-bottom: 20px
    }
  
    .mail {
      margin-left: 100px;
      margin-right: 90px;
    }
  
    .phone {
      margin-left: 300px;
    }
  
    .loc {
      margin-left: 0px;
    }