body {
    color: #FFFFFF;
    margin: 0px;
    padding-top: 20.6%;
    padding-bottom: 20.6%;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(255,183,195);
    background: linear-gradient(180deg, rgba(255,183,195,1) 0%, rgba(188,244,245,1) 50%);
}